<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {% stylesheets
                'bundles/home/css/bootstrap.css'
                'bundles/home/css/bootstrap.css.map'
                'bundles/home/css/bootstrap.min.css'
                'bundles/home/css/bootstrap-theme.css'
                'bundles/home/css/bootstrap-theme.css.map'
                'bundles/home/css/bootstrap-theme.min.css'
                'bundles/home/css/main.css'
            %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
