{% extends '::base.html.twig' %}

{% block body %}
<header>
    <div class="container">
        <div id="logo"></div>
        <nav><ul><li><a href="#">Link</a></li><li><a href="#">Link</a></li><li><a href="#">Link</a></li></ul></nav>
        <a class="button floatright" href="#">Button</a>
    </div>
</header>

<section class="hero">
    <div class="container">
        <img src="{{ asset('bundles/home/images/images.jpeg') }}" class="heroimage"/>
        <div class="herocontent">
            <h1>Main Headline</h1>
            <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
            <a class="button floatleft" href="#">Button</a>
        </div>

    </div>
</section>

<section class="features">
    <h2>Features Section Header</h2>
    <h4>Features Section Subheader</h4>
    <aside>
        <img src="{{ asset('bundles/home/images/crazy-hair-day.jpg') }}"/>
        <h3>Feature Headline</h3>
    </aside>
    <aside>
        <img src="{{ asset('bundles/home/images/soar-to-800.jpg') }}">
        <h3>Feature Headline</h3>
    </aside>
    <aside>
        <img src="{{ asset('bundles/home/images/scicon.jpg') }}"/>
        <h3>Feature Headline</h3>
    </aside>
</section>

<section class="organize">
    <div class="container">
        <img src="http://maps.googleapis.com/maps/api/staticmap?center=2431+E+Westcott+Ave,Visalia,CA+93292&zoom=16&size=440x225&markers=color:red%7Ccolor:red%7C2431+E+Westcott+Ave,Visalia,CA+93292">
        <div class="organizecontent">
            <h2>Organize Headline</h2>
            <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero
                sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
        </div>
    </div>
</section>

<section class="share">
    <div class="sharecontent">
        <h2>Share Headline</h2>
        <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
            Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero
            sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
    </div>
    <img src="http://maps.googleapis.com/maps/api/staticmap?center=5000+W+Cypress+Ave,Visalia,CA+93277&zoom=16&size=440x225&markers=color:red%7Ccolor:red%7C5000+W+Cypress+Ave,Visalia,CA+93277">
</section>

<section class="get">
    <div class="container">
        <h2>Call To Action</h2>
        <a class="button floatright" href="#">Button</a>
    </div>
</section>


<footer>
    <div class="container">
        <h4>Built by Creative Solutions</h4>
    </div>
</footer>

{% endblock %}
